@{
    ViewData["Title"] = "Dashboard";
}

@*<div class="row" style="height:100%;">
    <div id="chart-topLeft" class="col h-50 w-50"></div>
    <div id="chart-topRight" class="col h-50 w-50"></div>
    <div class="w-100"></div>
    <div id="chart-bottomLeft" class="col h-50 w-50"></div>
    <div id="chart-bottomRight" class="col h-50 w-50"></div>
</div>*@

<div class="row" style="height:50%;">
    <div id="chart-topLeft" class="col"></div>
    <div id="chart-topRight" class="col"></div>
</div>
<div class="row" style="height:50%;">
    <div id="chart-bottomLeft" class="col"></div>
    <div id="chart-bottomRight" class="col"></div>
</div>

@section scripts
    {
    <script type="text/javascript" src="~/lib/fusioncharts/js/fusioncharts.js"></script>
    <script type="text/javascript" src="~/lib/fusioncharts/js/themes/fusioncharts.theme.ocean.js"></script>

    <script>
        $('#menuDashboard').addClass("active");

        $(function () {

            var charts = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model) as String);

            var chartTopLeft = new FusionCharts(charts[0]);
            chartTopLeft.render("chart-topLeft");

            var chartTopRight = new FusionCharts(charts[1]);
            chartTopRight.render("chart-topRight");

            var chartBottomLeft = new FusionCharts(charts[0]);
            chartBottomLeft.render("chart-bottomLeft");

            var chartBottomRight = new FusionCharts(charts[1]);
            chartBottomRight.render("chart-bottomRight");
        });
    </script>
}


