@{
    ViewData["Title"] = "Development tasks";
}

<div>
    <h1 class="display-4">Development Tasks</h1>
    <ul>
        <li>Choose color scheme</li>
        <li>Dashboard - fusion charts</li>
        <li>Search bar - width and function</li>
        <li>Upgrade font-awesome to latest</li>
        <li>Upload a csv (imports)</li>
        <li>Add a readme</li>
        <li>Crash course in bootstrap</li>
        <li>Unit tests</li>
        <li>Add authentication/authorization (ASP.NET Identity)</li>
        <li>Clean up duplication in models</li>
        <li>Do form validation as Bootstrap toast</li>
        <li>Continue to build out search functionality</li>
        <li>Reports - integrate reporting services?</li>
        <li>Continue building out web api</li>
        <li>Start new projects for Angular, Xamarin</li>
        <li>Audit History</li>
        <li>Seed database</li>
        <li>Recent items</li>
        <li>Grid styling, sorting, filtering, paging</li>
    </ul>
</div>
