@using PropertyManagement.Domain
@using PropertyManagement.Ui.Mvc.Models.Building

@model BuildingSearchViewModel
@{
}

<form>
    <div asp-validation-summary="All" style="top:300px;"></div>
    <div>
        <div class="page-header">
            <h1>Search Buildings</h1>
        </div>

        <button class="btn btn-success" asp-action="SearchResults">
            Search
        </button>

        <div class="form-group">
            <label asp-for="BuildingName"></label>
            <input class="form-control" asp-for="BuildingName" />
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Address</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label asp-for="AddressLine1"></label>
                            <input class="form-control" asp-for="AddressLine1" />
                        </div>
                        <div class="form-group">
                            <label asp-for="AddressLine2"></label>
                            <input class="form-control" asp-for="AddressLine2" />
                        </div>
                        <div class="form-group">
                            <label asp-for="AddressLine3"></label>
                            <input class="form-control" asp-for="AddressLine3" />
                        </div>
                        <div class="form-group">
                            <label asp-for="City"></label>
                            <input class="form-control" asp-for="City" />
                        </div>
                        @*<div class="form-group">
                                <label asp-for="State"></label>
                                <select class="form-control" asp-for="State" asp-items="Model.States"></select>
                            </div>*@
                        <div class="form-group">
                            <label asp-for="ZipCode"></label>
                            <input class="form-control" asp-for="ZipCode" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Financials</h3>
                    </div>
                    <div class="panel-body">
                        @*<div class="form-group">
                                <label asp-for="PurchaseDate"></label>
                                <input class="form-control" asp-for="PurchaseDate" />
                            </div>*@
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label asp-for="PurchasePriceLow"></label>
                                <input type="text" class="form-control" asp-for="PurchasePriceLow" />
                            </div>
                            <div class="col-sm-6 form-group">
                                <label asp-for="PurchasePriceHigh"></label>
                                <input type="number" class="form-control" asp-for="PurchasePriceHigh" />
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label asp-for="SellDate"></label>
                                <input class="form-control" asp-for="SellDate" />
                            </div>*@
                        <div class="form-group">
                            <label asp-for="SellPrice"></label>
                            <input type="text" class="form-control" asp-for="SellPrice" />
                        </div>
                        <div class="form-group">
                            <label asp-for="NumberOfUnits"></label>
                            <input type="text" class="form-control" asp-for="NumberOfUnits" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">System Info</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label asp-for="CreatedOnStart"></label>
                                <input class="form-control" asp-for="CreatedOnStart" />
                            </div>
                            <div class="col-sm-6 form-group">
                                <label asp-for="CreatedOnEnd"></label>
                                <input class="form-control" asp-for="CreatedOnEnd" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label asp-for="LastUpdatedOnStart"></label>
                                <input class="form-control" asp-for="LastUpdatedOnStart" />
                            </div>
                            <div class="col-sm-6 form-group">
                                <label asp-for="LastUpdatedOnEnd"></label>
                                <input class="form-control" asp-for="LastUpdatedOnEnd" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts
{
    @Html.Partial("_ValidationScriptsPartial")

    <script>
        $('#searchTypes').removeClass("collapse");
        $('#menuSearch').addClass("active");
        $('#searchBuildings').addClass("active");
    </script>
}
