@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Property Management!!!</h1>
<p>I built this to learn and demonstrate my asp.net core skills.</p>

<h4 class="display-4">Development Tasks</h4>
<ul>
    <li>Dashboard - fusion charts</li>
    <li>Search bar function</li>
    <li>Upload a csv (imports)</li>
    <li>Add a readme</li>
    <li>Unit tests</li>
    <li>Add authentication/authorization (ASP.NET Identity)</li>
    <li>Clean up duplication in models</li>
    <li>Continue to build out search functionality</li>
    <li>Reports - integrate reporting services?</li>
    <li>Continue building out web api</li>
    <li>Start new projects for Angular, Xamarin</li>
    <li>Audit History</li>
    <li>Seed database</li>
    <li>Recent items</li>
    <li>Grid styling, sorting, filtering, paging</li>
    <li>Saved searches</li>
    <li>Logging</li>
    <li>User defined fields</li>
    <li>Recycle bin etc. positioning when small</li>
    <li>Generalize repository code - too much duplicate code</li>
    <li>Unable to show model-level errors (purchase date later than sell date, for example)</li>
</ul>

@section scripts
    {
    <script>
        $('#menuHome').addClass("active");
    </script>
}

